# M Ali Asif Khan Roll#57947

### Assignment#1

In [104]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [105]:
a = 'pakistan ZINDABAD hello World pyThon yes'

In [106]:
a.capitalize()

'Pakistan zindabad hello world python yes'

In [107]:
a.casefold()

'pakistan zindabad hello world python yes'

In [108]:
a.center(50)

'     pakistan ZINDABAD hello World pyThon yes     '

In [109]:
a.center(50,'8')

'88888pakistan ZINDABAD hello World pyThon yes88888'

In [110]:
a.count('o')

3

In [111]:
a.count('o',25,30)

1

In [112]:
b = 'å'
b.encode()

b'\xc3\xa5'

In [113]:
b.encode(encoding='ascii',errors='ignore')

b''

In [114]:
print(b.encode(encoding='ascii',errors='backslashreplace'))

b'\\xe5'

In [115]:
a.endswith('yes')

True

In [116]:
a.endswith('World',20,30)

False

In [117]:
c = 'h\te\tl\tl\to'
print(c)
print(c.expandtabs())
print(c.expandtabs(1))
print(c.expandtabs(2))
print(c.expandtabs(3))
print(c.expandtabs(4))

h	e	l	l	o
h       e       l       l       o
h e l l o
h e l l o
h  e  l  l  o
h   e   l   l   o

In [118]:
print(a.find('hello'))
print(a.find('karachi'))

18
-1

In [119]:
d1 = 'Student {name} has {result} the {test} test'
d2 = 'Student {} has {} the {} test'
d3A = {'x':6,'y':8}
d3B = 'X-axis = {x}, Y-axis = {y}'
print(d1.format(name = 'Junaid', test = 'admission', result = 'failed'))
print(d2.format('Taimur', 'passed','monthly'))
print(d3B.format(**d3A))

Student Junaid has failed the admission test
Student Taimur has passed the monthly test
X-axis = 6, Y-axis = 8

In [120]:
d3B.format_map(d3A)

'X-axis = 6, Y-axis = 8'

In [121]:
a.index('hello')

18

In [122]:
'34'.isalnum()

True

In [123]:
'book'.isalpha()

True

In [124]:
b.isascii()

False

In [125]:
'6'.isdecimal()

True

In [126]:
'34'.isdigit()

True

In [127]:
i1 = 'A1'
i2 = '1A'
i3 = '33 55'
print(i1.isidentifier())
print(i2.isidentifier())
print(i3.isidentifier())

True
False
False

In [128]:
j1 = 'hello'
j2 = 'World'
print(j1.islower())
print(j2.islower())

True
False

In [129]:
'23434'.isnumeric()

True

In [130]:
'hello \n world'.isprintable()

False

In [131]:
' '.isspace()

True

In [132]:
'Hello World'.istitle()

True

In [133]:
a.istitle()

False

In [134]:
a.isupper()

False

In [135]:
'ONE'.isupper()

True

In [136]:
'£'.join(a)

'p£a£k£i£s£t£a£n£ £Z£I£N£D£A£B£A£D£ £h£e£l£l£o£ £W£o£r£l£d£ £p£y£T£h£o£n£ £y£e£s'

In [137]:
'@'.join(('A','B','C'))

'A@B@C'

In [138]:
e = 'Hello World'.ljust(20)
print(e,'Yo')

Hello World          Yo

In [139]:
a.lower()

'pakistan zindabad hello world python yes'

In [140]:
g = '                 GGG                  '
f = g.lstrip()
print('ALPHA', f, 'OMEGA')

ALPHA GGG                   OMEGA

In [141]:
string1 = 'abc'
string2 = 'def'
string0 = 'xyz'
print(string0.maketrans(string1,string2))

{97: 100, 98: 101, 99: 102}

In [142]:
dict1 = {"a": "123", "b": "456", "c": "789"}
stringA = 'abc'
print(stringA.maketrans(dict1))

{97: '123', 98: '456', 99: '789'}

In [143]:
dict1 = {"x": "123", "y": "456", "z": "789"}
stringA = 'abc'
print(stringA.maketrans(dict1))

{120: '123', 121: '456', 122: '789'}

In [144]:
a.partition('hello')

('pakistan ZINDABAD ', 'hello', ' World pyThon yes')

In [145]:
a.replace('hello', 'hell0')

'pakistan ZINDABAD hell0 World pyThon yes'

In [146]:
aa = 'one two one one three two one'
aa.replace('one', '1', 2)

'1 two 1 one three two one'

In [147]:
aa.rfind('two')

22

In [148]:
aa.rindex('two')

22

In [149]:
'Hello World'.rjust(20,'£')

'£££££££££Hello World'

In [152]:
aa = 'one two one one three two one'
aa.rpartition('two')

('one two one one three ', 'two', ' one')

In [ ]:
h = 'one, two, three, four'
h.rsplit(', ')

In [ ]:
i = 'one hello two hello three hello four'
i.rsplit(' hello ')

In [ ]:
g = '                 GGG                  '
j = g.rstrip()
print('ALPHA', j, 'OMEGA')

In [ ]:
a.split()

In [ ]:
k = 'hello\nworld'
k.splitlines()

In [ ]:
a.startswith('pakistan')

In [ ]:
g = '                 GGG                  '
k = g.strip()
print('ALPHA', k, 'OMEGA')

In [ ]:
a.swapcase()

In [ ]:
a.title()

In [ ]:
string1 = 'abc'
string2 = 'def'
string3 = 'xy'
string0 = 'abcdef'
translation = a.maketrans(string1,string2,string3)
string0.translate(translation)

In [ ]:
a.upper()

In [ ]:
'bye'.zfill(5)