# M Ali Asif Khan Roll#57947

### Assignment#2

#### Task 1

In [1]:
a = input()
b = int(a)
if b >= 0:
    print('+ve')
else:
    print('-ve')
exit()

-12
-ve

#### Task 2

In [1]:
sub1 = int(input())
sub2 = int(input())
sub3 = int(input())
sub4 = int(input())
sub5 = int(input())

s = sub1 + sub2 + sub3 + sub4 + sub5
avg = s / 5

if avg >= 90:
    print('A')
elif 90 > avg > 80:
    print('B')
elif 80 > avg > 70:
    print('C')
elif 70 > avg > 60:
    print('D')
elif 60 > avg > 50:
    print('E')
else:
    print('F')

21
34
78
90
98
D

#### Task 3

In [5]:
num1 = int(input())
num2 = int(input())
qt = num1/num2
md = num1%num2
print('1st # ', num1, ' 2nd # ', num2, ' Quotient ', qt, ' Modulus ', md)

12
3
1st #  12  2nd #  3  Quotient  4.0  Modulus  0

#### Task 4

In [4]:
for x in range(1,51):
    if x%2 != 0 and x%3 != 0:
        print(x)

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49

#### Task 5

In [6]:
n1 = int(input())
n2 = int(input())
print('1: ', n1, ' 2: ', n2)
n1 = n1+n2
n2 = n1-n2
n1 = -(n2-n1)
print('1: ', n1, ' 2: ', n2)

23
12
1:  23  2:  12
1:  12  2:  23

#### Task 6

In [19]:
import math
s1 = int(input())
s2 = int(input())
s3 = int(input())
s = (s1+s2+s3)/2
area = math.sqrt(s*(s-s1)*(s-s2)*(s-s3))
print(area)

2
3
4
2.9047375096555625

#### Task 7

In [7]:
list1 = []
odd = []
even = []

for x in range(0,10):
    list1.append(int(input()))
    x +=1
    
for y in list1:
    if y%2 == 0:
        even.append(y)
    else:
        odd.append(y)
        
odd.sort()
even.sort()

print('Largest odd # ',odd[-1])
print('Largest even # ',even[-1])

1
6
4
2
8
0
3
6
8
9
Largest odd #  9
Largest even #  8

#### Task 8

In [8]:
list3 = []
for x in range(1,5):
    list3.append(int(input()))
    x +=1
list3.sort()
print('Second largest # ',list3[-2])

1
6
2
5
Second largest #  5

#### Task 9

In [4]:
list4 = []
list5 = []
for x in range(1,5):
    list4.append(int(input('List 1: ')))
    x +=1
for y in range(1,5):
    list5.append(int(input('List 2: ')))
    x +=1
list6 = list4 + list5
print(list6)

List 1: 1
List 1: 3
List 1: 5
List 1: 7
List 2: 9
List 2: 2
List 2: 4
List 2: 6
[1, 3, 5, 7, 9, 2, 4, 6]